.root {
	padding: .6rem .5rem;
	background: #fff;
	border: 1.5px solid #d0d0d0;
	border-radius: 6px;
	cursor: pointer;

	&:disabled {
		background: #ddd;
		border: 1px solid #d0d0d0;
		cursor: default;
	}
}