@use '../../assets/scss/color' as *;

.root {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;

	font-size: 16px;
	font-weight: bold;

	border-radius: 4px;
	background: $purple;
	color: #fff;
	padding: 2px 8px;

	min-width: 2rem;
	aspect-ratio: 2;

	display: flex;
	justify-content: center;
	align-items: center;
}