@use '../../assets/scss/color' as *;

.root {
	min-height: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.center {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		"title title title"
		". name ."
		"purity . rate"
		"button button button";
	width: 70%;
	gap: 1rem 0;
}

.title {
	grid-area: title;
	text-align: center;
}

.name__box {
	grid-area: name;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.count {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;

	font-size: 16px;
	font-weight: bold;

	border-radius: 4px;
	background: $purple;
	color: #fff;
	padding: 2px 8px;

	min-width: 2rem;
	aspect-ratio: 2;

	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 120px;
	height: 120px;
}

.detail {
	display: flex;
	justify-content: space-between;
}

.detail__box {
	display: flex;
	flex-direction: column;
	align-items: center;

	&:nth-of-type(2) {
		grid-area: purity;
	}

	&:nth-of-type(3) {
		grid-area: rate;
	}
}

.detail__name {
	font-size: smaller;
	color: #ababab;
}

.button__list {
	grid-area: button;
	display: flex;
	flex-direction: column;
	gap: .25rem;
}

.button {
	width: 100%;

	&:first-of-type {
		margin-bottom: 1rem;
	}
}