@use "../../../assets/scss/color" as *;

.root {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.coins {
	display: flex;
	justify-content: space-evenly;

	padding: 0 3rem;
}

.coin {
	display: grid;
	grid-template-columns: 16px 16px 1fr;
	grid-template-rows: 12px 20px;
	grid-template-areas: "img img name" "img img info";
	// column-gap: .5rem;
	gap: .2rem .5rem;

	place-content: center;
	place-items: center;

	position: relative;

}

.coin__popup {
	background: #fff;
	position: absolute;
	bottom: -100%;
	width: max-content;
	z-index: 4;
	display: none;

	border-top: 3px solid $purple;

	&__list {
		margin: 0;
		padding: 0 16px 0 32px;
	}

	.coin:hover & {
		display: block;
	}

	&::after {
		content: "▲";
		position: absolute;
		top: -100%;
		left: 50%;
		transform: translate(-50%, 25%);
		color: $purple;
	}
}


.coin__img {
	grid-area: img;
	width: 32px;
	height: auto;
	// justify-self: center;
	align-self: center;
}

.coin__name {
	grid-area: name;
	font-size: smaller;
	color: #ababab;
	line-height: 12px;
}

.coin__info {
	grid-area: info;
	letter-spacing: 3px;
	font-size: small;
	line-height: 24px;
}

.coin__using {
	font-size: 20px;
}

.search__box {
	padding: 0 3.5rem;
}

$border-radius: 6px;

.search__input {
	width: 100%;
	color: #eee;
	background: #333;
	border: none;
	padding: .8rem 1rem;
	border-radius: $border-radius;

	&:focus {
		outline: none;
	}
}

.items {
	display: grid;
	height: 100%;
	grid-template-columns: repeat(auto-fit, 64px);
	grid-template-rows: repeat(auto-fit, 64px);
	gap: 4px;
	overflow-y: scroll;
	padding: 0 3rem;
	justify-content: center;

	&::-webkit-scrollbar {
		display: none;
	}
}


.item {
	width: 64px;
	height: 64px;
	position: relative;
	border-radius: $border-radius;
	background: #fff;
	overflow-x: visible;
	overflow: visible;

	&.empty {
		background: #333;
	}
}

.checkbox {
	display: none;
}

$list-bg: #666;

.lists {
	background: $list-bg;
	position: absolute;
	top: 16px;
	right: -80%;
	z-index: 3;
	display: none;

	.checkbox:checked+& {
		display: block;
	}

	&::after {
		content: '◄';
		color: $list-bg;
		position: absolute;
		right: 95%;
	}
}

.btn {
	background: transparent;
	border: none;
	color: #fff;
	font-size: small;
	padding: 2px 8px;
	cursor: pointer;
}

$name-bg: rgba(200, 200, 200, .5);

.name {
	position: absolute;
	left: 50%;
	bottom: -50%;
	transform: translateX(-50%);
	z-index: 2;
	min-width: 80%;
	padding: 0 4px;
	background: $name-bg;
	text-align: center;
	display: none;
	inline-size: min-content;
	text-wrap: nowrap;
	overflow: visible;

	.item:hover & {
		display: block;
	}

	&::after {
		content: '▲';
		color: $name-bg;
		position: absolute;
		left: 50%;
		height: min-content;
		text-align: center;
		transform: translate(-50%, -65%);
	}
}

.count {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;

	font-size: 12px;
	font-weight: bold;

	border-radius: 4px;
	background: $purple;
	color: #fff;
	padding: 2px;

	width: 1.5rem;
	aspect-ratio: 1 / 1;

	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 48px;
	height: 48px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: $border-radius;
}